/* pin header */
html, body {
    margin: 0;
}
#container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#topics {
    flex: 1;
    overflow-y: scroll;
}

/* nav */
nav>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}
.nav_button {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.nav_button:hover {
    background-color: #000;
}

/* #topics */
#topics {
    margin: 2px;
}
#topics>ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
#topics>ul>li {
    flex: auto;
    max-width: 50%;
    max-height: 12rem;
    overflow-y: hidden;
    position: relative;
}
#topics>ul>li>a {
    display: block;
    border: #fff 0.5vmin solid;
    border-radius: 1rem;
    color: #ddd;
    background-color: #333;
    text-decoration: none;
    height: calc(100% - 1vmin);
    padding: 0 0.5rem;
}
#topics>ul>li>a>h2 {
    line-height: 2rem;
    font-size: 1.5rem;
    margin: 1rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#topics>ul>li>a>p {
    height: calc(100% - 4rem);
    /* background: linear-gradient(180deg, #ddd, #ddd 6rem, #333 7rem);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    overflow: hidden;
    text-overflow: ellipsis;
}
#topics>ul>li>div.gradientscreen {
    position: absolute;
    top: 10rem;
    left: 0.6vmin;
    height: calc(2rem - 0.6vmin);
    width: calc(100% - 1.2vmin);
    border-radius: 1rem;
    background: linear-gradient(180deg, transparent, #333);
}
#topics>ul>li>a:hover, #topics>ul>li>a.active {
    border-radius: 1rem;
    color: #fff;
    background-color: #000;
}
/* #topics>ul>li>a:hover>p {
    background: linear-gradient(180deg, #fff, #fff 6rem, #000 7rem);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

/* #post */
#post {
    display: none;
    margin: 2px;
}
#postcheck:checked + #post {
    display: block;
}
#post>form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 30rem;
    max-height: 12rem;
}
